<div class="container-fluid marginized">
  <div class="index-container">
    <div class="index-categories">
      flkjdgfrg
    </div>
    <div class="cards-container">
      <div class="index-searchbar">
        <%= render "shared/searchbar" %>
      </div>
      <%= render 'shared/card' %>
    </div>
    <div class="index-faqs">
      dsjgfbvf
    </div>
  </div>
</div>

<%= render 'shared/modal' %>
