.dashboard-banner {
  padding: 30px;
  display: flex;
  align-items: center;

}

.sharetokens {
  height: 220px;
}

.sharetokens-title {

  h2 {
  font-size: 40px;
  }
}


.order {
  margin-bottom: 30px;
  border: 1px solid #EEE;
  padding: 20px;
  border-radius: 2px;
}
