.creation {

  h2 {
  font-size: 50px;
  }
}

.sharetokens {
  height: 220px;
}

.dashboard-banner {
  margin-top: 35px;
  margin-bottom: 10px;
}

.contributions {
  h4 {
    margin-top: 40px;
  }
}

.order {
  margin-bottom: 30px;
  border: 1px solid #EEE;
  padding: 20px;
  border-radius: 2px;
}
