.how-to-be-number {
    font-size: 108px;
    margin-top: 0px;
    padding: 0px 22px;
    font-weight: 800;
    color: $pop-green;
}

.designer-steps-container {
  margin: 20px 0;
}

.designer-landing-image {
  width: 417px;
  height: auto;
}

#become-a-designer {
  margin-top: 30px;
}

