.designs-index-container {
  margin-top: 20px;
}

.index-grid-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.sticky-container {
  position: sticky;
  top: 20px;
}

.index-categories{
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 1.5em 2em;

  hr {
    margin-top: 10px;
    margin-bottom: 45px;
  }
}

.cards-container {
}

.index-faqs {
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 1.5em 2em;

  hr {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.designs-index-list {
  list-style: none;
  padding: 0px 20px;
  font-weight: 300;

  li {
    padding-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: $pop-black;

    &:hover {
      color: $pop-green;
    }
  }

  &.categories {
    text-transform: uppercase;
  }
}
