.designs-index-container {
  margin-top: 20px;
}

.desings-page-row-padded {
  padding-bottom: 20px;
}

.index-grid-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.sticky-container {
  position: sticky;
  top: 20px;
}

.index-categories{
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 1.5em 2em;

  hr {
    margin-top: 10px;
    margin-bottom: 45px;
  }
}

.cards-container {
}

.index-button-wrapper {
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 1.5em 1.5em;
  margin-bottom: 20px;

  .button {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1.2rem 1.5rem;
    background-color: $pop-black;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 2px 2px 0px 0px $pop-green;
    &:hover {
      background-color: $pop-green;
      box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 3px 3px 0px 0px $pop-black;
    }
  }
}

.index-faqs {
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 1.5em 2em;

  hr {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

.designs-index-list {
  list-style: none;
  padding: 0px 20px;
  font-weight: 300;

  li {
    padding-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: $pop-black;

    &:hover {
      color: $pop-green;
    }
  }

  &.categories {
    text-transform: uppercase;
  }
}

.indexpage-thingiverse-searchbar-wrapper {
  padding: 20px 0px;

  h3 {
    font-weight: 600;
    padding-bottom: 20px;
  }

  .search-form {
    min-width: 100.5%;
  }
}

.index-button-searchthingiverse {
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 1.5em 1.5em;
  margin-bottom: 20px;

  .button {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1.2rem 1.5rem;
    background-color: #248bfb;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 3px 3px 0px 0px $pop-green;

    &:hover {
      background-color: $pop-green;
      box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 3px 3px 0px 0px #248bfb;
    }
  }
}
