.design-show-requests {
  margin: 20px;
  border-radius: 5px;
  background-color: $light-gray;
  .request {
    font-size: 16px;
    margin: 10px;
    padding: 0 10px;
    .request-kind {
      margin-bottom: 7px;
    }
    .request-description {
      margin-bottom: 10px;
    }
  }
}

.design-show-requests-container {
  padding-left: 70px;
  .requests-header {
  margin-top: 200px;
  }
}



.design-show-design-details img {
  width: 100%;
}

.design-show-contributions-flex {
  display: flex;
  justify-content: space-around;
  .contributions {
    font-weight: bold;
  }
}




