.how-to-be-number {
    float: left !important;
    font-size: 108px !important;
    line-height: 90px !important;
    margin-top: 0px !important;
    padding: 0px 22px !important;
    font-weight: 800 !important;
    color:#06D6A9 !important;
}


.designer-landing-steps {
  display: flex;
  flex-direction: column;
}

