.new-design-container {
  height: calc(100vh - 73px);
  position: relative;
}

.new-request-first-container {
  display: flex;
  justify-content: space-between;
}

.upload-photo1 {
  background-color: #FFF;
  margin-top: 3px;
  flex: 0 0 50vw;
  height: calc(100vh - 73px);
  padding: 80px 50px;
  display: flex;
  flex-direction: column;

  h2 {
    position: relative;
    padding-bottom: 70px;
  }

  a {
    position: absolute;
    bottom: 50%;
    left: 35%;
  }

  .form-group {
    padding-bottom: 150px;
  }

  p {
    text-align: justify;
  }
}

.upload-photo2 {
  flex: 0 0 50vw;
  height: 100vh;
  padding: 80px 0px 50px 50px;
  text-align: center;

  h2 {
    padding-bottom: 50px;
    font-style: italic;
  }
  img {
    width: 480px;
    height: 361px;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 6px 6px 0px 0px $pop-green;
  }
}

.new-request-second-container {
  display: flex;
  justify-content: space-between;
}

.request-title1 {
  background-color: #FFF;
  margin-top: 3px;
  flex: 0 0 50vw;
  height: calc(100vh - 73px);
  padding: 80px;

  h2 {
    padding-bottom: 50px;
  }
}

.request-title1-buttons {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.request-title2 {
  flex: 0 0 50vw;
  height: 100vh;
  padding: 80px 0px 50px 50px;
  text-align: center;

  img {
    padding-top: 50px;
  }
}

.new-request-third-container {
  display: flex;
  justify-content: space-between;
}

.request-description1 {
  background-color: #FFF;
  margin-top: 3px;
  flex: 0 0 50vw;
  height: calc(100vh - 73px);
  padding: 80px;
  position: relative;

  h2 {
    padding-bottom: 50px;
  }
}

.request-description-buttons2 {
  position: absolute;
  top: 20px;
  right: 20px;
}

.request-description2 {
  flex: 0 0 50vw;
  height: 100vh;
  padding: 80px 0px 50px 50px;
  text-align: center;

  img {
    padding-top: 50px;
    width: 500px;
    height: 500px;
  }

  p {
    padding-top: 50px;
  }
}

.request-description-buttons {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
