.index-grid-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.index-categories{
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 1.5em 2em;
}

.cards-container {
}

.index-faqs {
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 0px 20px;
}

.category-list-index {
  list-style: none;
  padding: 0px 20px;

  li a {
    text-decoration: none;
  }
}
