.application-container {
  background-color: #FFF;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 4px 4px 0px 0px $pop-green;
  width: 55%;
  justify-content: center;
  h2 {
    text-align: center;
    margin-top: 100px;
    padding: 40px 0px;
    font-weight: 600;
  }
}

.form-design-container{
  display:flex;
  justify-content: center
}

.application-form {
  padding: 0px, 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
  margin: 15px 0px;
}

.form-control {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: justify;
  div.form-group {
    margin-bottom: 5px;
  }
}

.app-button {
  margin: 15px 75px;

}
