.vision-container {
  width: 40vw;
  padding-top: 100px;
}

.vision-header {
  text-transform: uppercase;
  color: #06d6a9bf;
}

.vision-body {

  h2 {
    padding-bottom: 25px;
    color: $pop-green;
    font-weight: 600;
  }

  p {
    opacity: 0.9;
  }
}

.benefits-body {
  padding: 100px 50px 50px 50px;
}

.benefits {
  display: flex;
  justify-content: space-between;
}

.benefits-body {
  padding-bottom: 100px;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 30%;
}

.benefit-icon {
  font-size: 40px;

  img {
    width: 50px;
    height: 50px;
  }
}

.benefit-title {
  padding: 15px;
}

.benefit-description {
  line-height: 30px;
  font-weight: 100;
  opacity: 0.9;

  span {
    border-bottom: 2px solid $pop-green;
  }
}

.home-howto {
  background-color: #FFF;
}

.howto-header {
  padding: 100px 0px 30px 120px;
}

.howto-header-title {
  h3{
    font-weight: 600;
  }
}

.howto-header-description {
  padding-top: 10px;
  line-height: 1.7;
}

.howto-col-container {
  display: flex;
  padding-left: 120px;
}

.howto-step {

  padding-bottom: 50px;
}

.first-step {
  padding-top: 50px;
}

.third-step {
  padding-bottom: 120px;
}

.step-container {
  display: flex;
  justify-content: space-between;
}

.step-header-icon {
  margin-top: 6px;
  flex: 0 0 15%;

  img {
    width: 5.5rem;
    height: 5.5rem;
  }
}

.step-content {

  p {
    font-weight: lighter;
  }
}

.howto-map {
  background-image: asset-url("map-steps.png");
  height: 100%;
  background-size: cover;
  background-position: center left;
}

.home-popular {

}

.home-populars-title {
  color: $pop-green;
  padding: 100px 0px 50px 0px;

  h2 {
    font-weight: 600;
  }
}

.home-popular-container {
  padding-bottom: 80px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    transform: translateY(-8px);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
}


.home-popular-image {

  img {
    background-size: cover;
    width: 100%;
    height: auto;
  }
}

.home-popular-description {
  p {
    font-size: 14px;
    font-weight: 300;
  }
}

.home-popular-date {

  p {
    font-size: 11px;
    opacity: 0.7;
  }
}
