.index-container {
  display: flex;
  justify-content: space-between;
}

.index-categories{
  flex: 1 1 auto;
  background-color: #FFF;
  border: 1px solid #EEE;
  padding: 1.5em 2em;
}

.cards-container {
  flex: 0 1 60vw;
  margin: 0px 20px;
}

.index-faqs {
  flex: 1 1 auto;
  background-color: #FFF;
  border: 1px solid #EEE;
}
