.sign-up-container {
  background-color: #FFF;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 100px;
  margin-left: 170px;
  margin-right: 170px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 4px 4px 0px 0px $pop-green;
  h2 {
    text-align: center;
    margin-top: 100px;
    padding: 40px 0px;
    font-weight: 600;
  }
}

.sign-up-form {
  padding: 0px, 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85%;
}

.sign-up-form-inputs {
  display: flex;
  flex-direction: column;
  color: black;
  text-align: justify;
  div.form-group {
    margin-bottom: 5px;
  }
}

.sign-up-form-actions {
  color: black;
  padding-top: 10px;
  p {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 15px;
    line-height: 40px;
    opacity: 0.8;
    float: right;
  }
}
