<h1>Order History</h1>
<ol>
<% @orders.each do |order| %>
<li>
  <ul>
    <li>Order ID: <%= order.id %></li>
    <li>Status: <%= order.state %></li>
    <li>Item: <%= order.token_sku %> Tokens</li>
    <li>Amount: <%= humanized_money_with_symbol(order.amount) %></li>
  </ul>
</li>
<% end %>
</ol>

