<div class="form-style-5">
<form>
<fieldset>
<legend><span class="number">1</span> Designer Info</legend>
<input type="text" name="field1" placeholder="Your Name *">
<input type="email" name="field2" placeholder="Your Email *">
<input type="url" name="field3" placeholder="Portfolio website *">
<input type="text" name="field4" placeholder="Your Phone Number *">
<textarea name="field5" placeholder="Categories of design you're skilled in*"></textarea>
</fieldset>
<fieldset>
<legend><span class="number">2</span> Personal</legend>
<textarea name="field6" placeholder="About yourself"></textarea>
<textarea name="field3" placeholder="Reference / Comments / Questions"></textarea>
</fieldset>
<input type="submit" value="Apply" class="button" />
</form>
</div>
