<div class= "application-container container">
  <h2>Application Form</h2>
  <div class= "row form-design-container">
    <div class="col-md-6">
      <div class="for-box-design">
        <form>
          <div class="application-form">
            <input type="email" class="form-control" id="InputEmail1" placeholder="Your Email *">
          </div>
          <div class="application-form">
            <input type="password" class="form-control" id="InputPassword1" placeholder="Your Password *">
          </div>
          <div class="application-form">
            <input type="text" class="form-control" id="portfolio" placeholder="Portfolio Website">
          </div>
          <div class="application-form">
            <input type="text" class="form-control" placeholder="Your Phone Number *">
          </div>
          <div class="application-form">
            <textarea class="form-control" placeholder="Categories of design you're skilled in*"></textarea>
          </div>
          <div class="application-form">
            <input type="file">
            <textarea class="form-control" placeholder="About yourself"></textarea>
          </div>
          <div class="application-form">
            <textarea class="form-control" placeholder="Reference / Comments / Questions"></textarea>
          </div>
        </div>
        <button type="submit" class="app-button button">Submit</button>
      </form>
    </div>
  </div>
</div>
</div>
