<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner-background.jpg' %>);">
  <div class="banner-container">
    <div class="banner-content">
      <h1 class="title-shadow"> The new way to get the 3D designs you need</h1>
      <p class="text-big">PoP allows you to collectively raise pools of token-based rewards to improve or generate professional-grade 3D designs.</p>
    </div>
    <div class="banner-searchbar-container">
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>
