
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
  <ol class="carousel-indicators">
    <% photo_number = 1 %>
    <li data-target="#myCarousel" data-slide-to="photo_number" class="active"></li>
    <% if @design.attachments.size > 1 %>
      <% (@design.attachments.size - 1).times do %>
        <li data-target="#myCarousel" data-slide-to="photo_number + 1"></li>
      <% end %>
    <% end %>
  </ol>
  <!-- Wrapper for carousel items -->
  <div class="carousel-inner">
    <div class="item active">
      <%= cl_image_tag @design.attachments.first.file %>
    </div>
    <% if @design.attachments.size > 1 %>
      <% @design.attachments[1..-1].each do |attachment| %>
        <div class="item">
          <%= cl_image_tag attachment.file %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Carousel controls -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
