<div class="card-wrapper">
  <div class="card-container">
    <div class="card-header">
      <span class="card-avatar">
        <!-- design or request users avatar -->
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/vananreed", class: "avatar small" %>
      </span>
      <span class="card-name">
        <!-- user-name -->
        zentuco
      </span>
      <span class="card-category">
        <!-- design/request category -->
        in Models
      </span>
      <span class="card-timespan">
        <!-- • date_created - date now -->
        • 13 days ago
      </span>
    </div>
    <div class="card-body">
      <div>
        <!-- design image -->
        <%= image_tag "https://files.cults3d.com/uploaders/4874761/illustration-file/1443016019-7704-9674/pikachu_low_poly_pokemon_flowalistik_youmagine_large.jpg", class: "card-image" %>
      </div>
      <div class="card-details">
        <div class="card-title">
          <!-- Title of Design or Request (new or change) -->
          <h2>Renewal of fantastic PIKACHU with the power of CAD and stuff</h2>
        </div>
        <div class="card-description">
          <!-- small description of design or request || We can use truncate method in ruby to put [...] after description -->
          bigger ears for my pikachu, enabling better printing.
        </div>
        <div class="card-footer"> <!-- only if request? -->
          <div class="card-pool">
            <!-- Agretated amount of rewards -->
              <button type="button"  class="transparent-button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                <i class="fas fa-money-bill-wave"></i> 238.35€ <i class="fas fa-caret-down"></i>
              </button>
          </div>
          <div class="card-contributors">
            <!-- number of contributors -->
            <span class="hovered"><i class="fas fa-users"></i> 35</span>
          </div>
          <div class="card-share">
            <!-- button to share in FB/Twitter to power visibility, make modal or dropdown to share -->
            <button type="" class="transparent-button" data-toggle="modal" data-target="#shareModal"><i class="fas fa-share-square"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
