<div class="designer-banner" style="background-image: url(<%= image_path 'veado.jpg' %>);">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="designer-banner-content">
        <h1>Get Paid for your 3D Designs</h1>
        <p>Your skills are worth something. Browse through user's requests, accept the challenge and get your share of the rewards pool.</p>
        <div>
          <%= link_to "Sign Up", new_designer_path, class: "button" %>
        </div>
      </div>
    </div>
    <div class="designer-banner-fade"></div>
  </div>
</div>
