<div class="designer-banner" style="background-image: url(<%= image_path 'veado.jpg' %>);">
  <div class="container">
  <div class="designer-banner-container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="designer-banner-content">
          <h1 class="title-shadow">Get Paid for your 3D Designs</h1>
          <p class="text-big">Your skills are worth something. Browse through user's requests, accept the challenge, and get your share of the rewards pool.</p>
          <div>
          <%= link_to "Sign Up", designer_path, method: :put, class: "button" %>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="designer-banner-fade"></div>
  </div>
</div>
