<div class="banner designer-banner" style="background-image: url(<%= image_path 'veado.jpg' %>);">
  <div class="banner-container">
    <div class="banner-content designer-banner-content">
      <h1 class="title-shadow">Get Paid for your 3D Designs</h1>
      <p class="text-big">Your skills are worth something. Browse through user's requests, accept the challenge, and get your share of the rewards pool.</p>
    </div>
    <div class="sign-up-button">
      <%= link_to "Sign Up", dashboard_path, class: "button" %>
    </div>
    <div class="designer-banner-fade">

    </div>
  </div>
</div>
