<footer>
  <div class="container ">
    <div class="row">
      <div class="col-md-4 footer-list">
        <div class="footer-header">
          <b>PoP World</b>
        </div>
        <ul>
          <li>
            <a href="">Who we are</a>
          </li>
          <li>
            <a href="">Work with us</a>
          </li>
          <li>
            <a href="">Affiliate Program</a>
          </li>
          <li>
            <a href="">Our blog</a>
          </li>
          <li>
            <a href="">Register</a>
          </li>
          <li>
            <a href="">Sitemap</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-list">
        <div class="footer-header">
          <b>MORE FROM POOL OF PRINTABLES</b>
        </div>
        <ul>
          <li>
            <a href="">About PoP</a>
          </li>
          <li>
            <a href="">Advertise with PoP</a>
          </li>
          <li>
            <a href="">Subscribe to eNewsletter</a>
          </li>
          <li>
            <a href="">Terms of Service</a>
          </li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 footer-list">
        <div class="footer-header">
          <b>MORE SITES</b>
        </div>
        <ul>
          <li>
            <a href="https://www.3dhubs.com/">3D Hub</a>
          </li>
          <li>
            <a href="https://www.thingiverse.com/">Thingy Verse</a>
          </li>
          <li>
            <a href="https://www.myminifactory.com/">Mini Factory</a>
          </li>
          <li>
            <a href="https://pinshape.com/">Pin Shape</a>
          </li>
          <li>
            <a href="https://www.manufacturingtomorrow.com/tag/3d-design">Manfacturing Tomorrow</a>
          </li>
          <li>
            <a href="https://www.designnews.com/3d-printing">Design News</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-logo-container">
    <div class="footer-logo-text">
      <b>Pool of Printables</b><%= image_tag("logo.png", class: "footer-logo") %>
      <div>
        <i class="fab fa-twitter"></i>
      </div>
      <div>
        <i class="fab fa-instagram"></i>
      </div>
      <div>
        <i class="fab fa-facebook"></i>
      </div>
      <div>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
  </div>
</footer>

