<!-- Trigger the modal with a button -->
<button type="button" class="button" data-toggle="modal" data-target="#modal<%= request.id %>">Contribute</button>

<!-- Modal -->
<div id="modal<%= request.id %>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p>Would you like to contribute to this design?</p>
        <p>Please enter the amount of tokens you would like to contribute:</p>
        <%= render 'shared/contributionform', request:request, contribution:contribution %>
      </div>
      <div class="modal-footer">
        <button type="button" class="button-red" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
