<div class="w3-content" style="max-width:1200px">
  <% @thing.images.each do |photo| %>
      <%= image_tag(photo["sizes"][13]["url"], class: "mySlides", size: "555x500") %>
  <% end %>

  <div class="w3-row-padding w3-section">
    <% @thing.images.each_with_index do |photo, index| %>
      <div class="w3-col s4">
        <img class="demo w3-opacity w3-hover-opacity-off" src="<%= image_path photo["sizes"][8]["url"] %>" style="width:90%" onclick="currentDiv(<%= index + 1 %>)">
      </div>
    <% end %>
  </div>
</div>



<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>


