<h3>PoP Designers</h3>
<% @designers.each do |designer| %>
  <div>Name: <%= designer.user.full_name %></div>
  <div><%= designer.description %></div>
  <div class="designer-approval-button">
  <% if designer.user.is_designer %>
    This designer is Approved
  <% else %>
    <%= link_to "Approve Designer", approve_path(designer: designer), method: :post %>
  <% end %>
  </div>
<% end %>
