<%= render 'shared/designer-banner' %>

<section id="why-pop-designer">
  <div class="why-designer-container">
    <div class="why-designer-content">
      <h2> Why become a Designer in PoP?</h2>
      <p>PoP is the world's first platform that allows you to get paid for your contributions to the 3D printing community. You can accept the hottest design requests or those who most fit your skills and get rewarded for your good work! You will retain the Intellectual Property of your designs, entering a blockchain certified system of reward that guarantees you will always be rewarded as the original creator of your designs.</p>
    </div>
  </div>
</section>


<section class="howto-pop-designer">
  <div class="container">
    <h2 id="become-a-designer">How to become a Pool of Printables Designer</h2>
    <div class="designer-steps-container">
      <div class="row">
        <div class="col-md-1">
          <div class="how-to-be-number">1</div>
        </div>
        <div class="col-md-6">
          <div class="designer-step-content">
            <h3>Sign up!</h3>
            <p>It's free and easy to create a Designer Account on PoP. Sign up, and fill out our application form. Once filled out, your application will be reviewed by our team; and you will be comfirmed within days.</p>
          </div>
        </div>
        <div class="col-md-5">
          <img class="designer-landing-image" src="https://ae01.alicdn.com/kf/HTB1d.mOKFXXXXcEXFXXq6xXFXXXg/Wholesale-Office-Women-Fashion-Business-Suits-Ladies-Blazer-with-Pencil-Skirt-Sets-Beautiful-Working-Sets.jpg_640x640.jpg">
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="designer-steps-container">
    <div class="row">
      <div class="col-md-5">
        <img class="designer-landing-image" src="https://www.3ders.org/images2016/thermaltake-3dmakers-platform-3d-printable-pc-mods-accessories5.jpg">
      </div>
      <div class="col-md-1">
        <div class="how-to-be-number">2</div>
      </div>
      <div class="col-md-6">
        <div class="designer-step-content">
          <h3>Choose your Project</h3>
          <p>Our customers will submit their requests.There are many different types of designs that our users want. Browse through our index to see the different projects our users want completed. Once you have seen a project that appeals to you, simply click the Take Project button.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="designer-steps-container">
    <div class="row">
      <div class="col-md-1">
        <div class="how-to-be-number">3</div>
      </div>
      <div class="col-md-6">
        <div class="designer-step-content">
          <h3>Get Paid</h3>
          <p>After you upload your high quality 3D design and our users have recieved their desired design, you will be promptly paid.</p>
        </div>
      </div>
      <div class="col-md-5">
        <img class="designer-landing-image" src="https://us.123rf.com/450wm/phartisan/phartisan1612/phartisan161200054/68643862-happy-diverse-woman-holding-wad-of-money-smiling-happily.jpg?ver=6">
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= render "shared/topup-sticky" %>
<% end %>
