<div class="designer-landing-steps">
  <div class="designer-landing-steps-title">
    <h1 class="designer-landing-steps-titleh1">
      <span>How to be a Pool of Printables Designer</span>
    </h1>
  </div>
  <div class="container-fluid col-lg-12">
    <div class="row">
      <span></span>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="how-to-be-number">1</div>
          <div class="" style="margin-bottom:8px;margin-left:20px">
            <section>
              <div class="">
                <h21>Sign up!</h21>
              </div>
            </section>
          </div>
          <div style="margin-bottom:16px">
            <div class="">
              <p>
                It's free and easy to create a Designer Account on PoP. Sign up, and fill out our application form.
              </p><br>
            </div>
          </div>
          <div style="margin-bottom:16px">
            <div class="">
              <p>Once filled out, your application will be reviewed by our team; and you will be comfirmed within days.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <img src="https://ae01.alicdn.com/kf/HTB1d.mOKFXXXXcEXFXXq6xXFXXXg/Wholesale-Office-Women-Fashion-Business-Suits-Ladies-Blazer-with-Pencil-Skirt-Sets-Beautiful-Working-Sets.jpg_640x640.jpg" alt="">
    </div>
    <div class="container-fluid col-lg-12">
      <div class="row">
        <span></span>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="how-to-be-number">2</div>
            <div class="" style="margin-bottom:8px;margin-left:20px">
              <section>
                <div class="">
                  <h21>Pick your Design!</h21>
                </div>
              </section>
            </div>
            <div style="margin-bottom:16px">
              <div class="">
                <p>
                  Our customers will submit their requests.There are many different types of designs that our users want. Browse through our index to see the different projects our users want completed.
                </p><br>
              </div>
            </div>
            <div style="margin-bottom:16px">
              <div class="">
                <p>Once you have seen a project that appeals to you, simply click the Take Project button.</p>
              </div>
            </div>
          </div>

      </div>
      <div class="col-lg-6 col-md-6">
        <img src="https://www.3ders.org/images2016/thermaltake-3dmakers-platform-3d-printable-pc-mods-accessories5.jpg" alt="">
      </div>
      </div>
    </div>
    <div class="container-fluid col-lg-12">
      <div class="row">
        <span></span>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="how-to-be-number">3</div>
            <div class="" style="margin-bottom:8px;margin-left:20px">
              <section>
                <div class="">
                  <h21>Design and get Paid</h21>
                </div>
              </section>
            </div>
            <div style="margin-bottom:16px">
              <div class="">
                <p>
                  Our customers will submit their requests.There are many different types of designs that our users want. Browse through our index to see the different projects our users want completed.
                </p><br>
              </div>
            </div>
            <div style="margin-bottom:16px">
              <div class="">
                <p>When our users have recieved their desired designed, you will get promptly paid.</p>
              </div>
            </div>
          </div>
        </div>

      <div class="col-lg-6 col-md-6">
        <img src="https://us.123rf.com/450wm/phartisan/phartisan1612/phartisan161200054/68643862-happy-diverse-woman-holding-wad-of-money-smiling-happily.jpg?ver=6" alt="">
      </div>
    </div>
    </div>
  </div>
