console.log("Hello from create_designs.js.erb");
const requestButton = document.getElementById("thepowerofajax");
console.log(requestButton);
const contributionForm = "<h3>Describe Your Change Request</h3>"
requestButton.insertAdjacentHTML("afterend", contributionForm)
