<div class="container">
  <div class="design-showpage-wrapper">
    <div class="row">
      <div class="col-xs-12">
        <div class="design-show-title-wrapper">
          <h2><%= @thing.name %></h2>
          <div class="designshow-description">
            <p><%= @thing.description %></p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="design-show-design-details">
          <div class="designshow-photos">
              <%= image_tag @thing.images.first["sizes"][8]["url"] %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 design-show-column-container">
          <div class="designshow-button">
              <%= link_to "Add this design to PoP", designs_path, method: :post, class: "button" %>
            </div>
      </div>
    </div>
  </div>
</div>

