.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

.alert-fixed {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 70px;
  color: $green;
  border: 0;
}
