.banner {
  height: 80vh;
}

.banner-content {

  form input.button{
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 2px 2px 0px 0px #FFF;
  }

  form input.button:hover {
    background-color: #FFF;
    color: #333;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 3px 3px 0px 0px $pop-green;
  }
}
