.button {
  font-size: 1.5rem;
  border-radius: 0 !important;
  border: none;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s all ease-in-out;
  padding: 0.6rem;
  text-transform: none;
  margin: 0 0.75rem 0 .5rem;
  background-color: #06D6A9;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 2px 2px 0px 0px #171F24;
  color: #fcfcfc;
}

.button:hover {
  background-color: #171F24;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 3px 3px 0px 0px #06D6A9;
}

.button-red {

  background-color: #EE5F5B;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 2px 2px 0px 0px #171F24;
}

.button-red:hover {
  color: #fcfcfc;
  background-color: #EE5F5B;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 4px 4px 0px 0px #171F24;
  transition: 0.1s all ease-in-out;
}
