.designer-banner {
  align-items: center;
  height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
  .button {
    background-color: $pop-black;
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 2px 2px 0px 0px $pop-green;
    &:hover {
      background-color: $pop-green;
      box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 3px 3px 0px 0px $pop-black;
    }
  }
  .row {
    margin: 0px;
  }
}

.designer-banner-content {
  display: flex;
  flex-direction: column;
  color: #FFF;
  text-align: justify;
  padding: 130px 150px 0px 150px;
  text-shadow: 0px 4px 4px rgba(57,27,178,0.1);
  color: $pop-black;

  h1 {
    font-size: 65px;
    margin-bottom: 20px;
    line-height: 80px;
  }

  p {
    font-size: 20px;
    font-weight: lighter;
    line-height: 40px;
    opacity: 0.8;
    margin-bottom: 30px;
  }
}

.designer-banner-fade {
  height: calc(100vh - 70px);
  background: linear-gradient(-180deg, rgba(247,247,247,0.00) 0%, rgba(247,247,247,0.67) 80%, rgba(247,247,247,0.88) 90%, rgba(247,247,247,1.00) 100%) !important;
}
