.profile-card-container {
  background-color: #FFF;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 100px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0), 4px 4px 0px 0px $pop-green;
  h2 {
    text-align: center;
    margin-top: 80px;
    padding-top: 50px;
    font-weight: 600;
  }
}

.profile-card-layout {
  padding: 0px, 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 85%;
  color: black;
  text-align: justify;
  div {
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
  }
  .profile-email-other {
    padding-bottom: 25px;
  }
}

.profile-card-line {
  margin: 0 30px;
}

.profile-avatar {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  .avatar {
    height:200px;
    width:200px;
    border: 1px solid $pop-black;
  }
}

.profile-card-actions {
  color: black;
  padding-bottom: 20px;
  margin-top: -10px;

  p {
    font-size: 20px;
    padding-top: 30px;
    line-height: 40px;
    opacity: 0.8;
  }
}

.profile-card-return-action {
  justify-content: center;
  padding-bottom: 20px;

}
